.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:transparent;
	
}
.blob1,.blob2{
	width:70px;
	height:70px;
	position:absolute;
	background:#E6E6E6;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#C84726;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}