.containerImgPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 90px;
    

}



.imgPerfil{
    width: 85%;
    
    
}



.containerPerfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 300;
    

}

.containerHabilidades{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 35px;
}

.containerHabilidadesTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
.containerHabilidadesIcons{
    display: grid;
    grid-template-columns: 1fr 3 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    justify-content: center;
    width: 85%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;

}

.htmlIcon{
    grid-column: 1/2;
    grid-row: 1/2;
   width: 60px;
   height: 60px;

}
.cssIcon{
    grid-column: 2/3;
    grid-row: 1/4;
    width: 50px;
    height: 50px;

}

.sassIcon{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 50px;
    height: 50px;


}
.jsIcon{
    width: 45px;
    height: 45px;
}

.agularIcon{
    width: 50px;
    height: 50px;
    grid-column: 2/3;
    grid-row: 2/4;

}

.reactIcon{
    width: 50px;
    height: 50px;

}

.phpIcon{
    width: 50px;
    height: 50px;
}

.wordpressIcon{
    width: 45px;
    height: 45px;
    grid-column: 2/3;
    grid-row: 3/4;

}

.gitIcon{
    width: 50px;
    height: 50px;


}

.containerProyectos{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 30px;

}

.containerProyectosTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}


.containerImgProyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 35px;
    

}
.imgProyecto{
    width: 85%;
    
}


.containerProyectoInformacion{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    height: auto;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 200;
    

}

.containerBotonProyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.tarjtaProyecto{
    width: 100%;
    height: 170px;
    background-color: #01E3C6;
    border-radius: 20px;
    box-shadow: 0px 7px #06AE98;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:#0D283A;
    
    

}

.tarjtaProyecto img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.tarjtaProyecto h4{
    margin-top: 10px;
}

.tarjtaProyecto p{
    margin-left: 15px;
    margin-right: 15px;
}



.tarjtaProyecto2{
    width: 100%;
    height: 170px;
    background-color:#00B0FF;
    border-radius: 20px;
    box-shadow: 0px 7px #019DE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:#0D283A;

}

.tarjtaProyecto2 img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.tarjtaProyecto2 h4{
    margin-top: 10px;
}

.tarjtaProyecto2 p{
    margin-left: 15px;
    margin-right: 15px;
}

.tarjtaProyecto3{
    width: 100%;
    height: 170px;
    background-color:#F9A826;
    border-radius: 20px;
    box-shadow: 0px 7px #E18E07;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:#0D283A;

}

.tarjtaProyecto3 img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.tarjtaProyecto3 h4{
    margin-top: 10px;
}

.tarjtaProyecto3 p{
    margin-left: 15px;
    margin-right: 15px;
}


.tarjtaProyecto4{
    width: 100%;
    height: 170px;
    background-color:#F50057;
    border-radius: 20px;
    box-shadow: 0px 7px #C30549;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:#0D283A;

}
.tarjtaProyecto4 img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.tarjtaProyecto4 h4{
    margin-top: 10px;
}

.tarjtaProyecto4 p{
    margin-left: 15px;
    margin-right: 15px;
}


.centered{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:transparent;
	
}
.blob1,.blob2{
	width:70px;
	height:70px;
	position:absolute;
	background:#E6E6E6;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#C84726;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}


@media (min-width:768px) {
    .containerImgPerfil{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        
    }

    .containerImgPerfil p{
        font-size: 1.2rem;
    }

    .containerImgPerfil button{
        margin: 0 auto;
    }
    .imgPerfil{
        width: 65%;
        margin: 0 auto;
       
    }

    .containerHabilidades{
        width: 100%;
        min-width: 500px;
        height: auto;
        margin-top: 80px;
    }

    .htmlIcon{
        grid-column: 1/2;
        grid-row: 1/2;
       width: 100px;
       height: 100px;
    
    }
    .cssIcon{
        grid-column: 2/3;
        grid-row: 1/4;
        width: 100px;
        height: 100px;
    }
    
    .sassIcon{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100px;
       height: 100px;
    
    
    }
    .jsIcon{
        width: 100px;
        height: 100px;
    }
    
    .agularIcon{
        width: 100px;
       height: 100px;
        grid-column: 2/3;
        grid-row: 2/4;
    
    }
    
    .reactIcon{
        width: 100px;
        height: 100px;
    
    }
    
    .phpIcon{
        width: 100px;
        height: 100px;
    }
    
    .wordpressIcon{
        width: 100px;
       height: 100px;
        grid-column: 2/3;
        grid-row: 3/4;
    
    }
    
    .gitIcon{
        width: 100px;
        height: 100px;
    
    
    }

    .imgProyecto{
        width: 40%;
        
    }

    .containerProyectosTitulo{
      margin-top: 80px;
    
    }
}
