:root{
  --primary-color: #0D283A;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  

}

.containerMenuLogo img{
  width: 170px;
  height: 60px;
  margin-left: 10px;
}

.containerMenuFollow{
  display: flex;
  flex-direction: row;
  gap: 3px;

}

.containerMenuFollow img{
 width: 30px;
 height: 30px;
 
}

.containerMenuBurguer{
  margin-right: 10px;

}

.containerMenuBurguer img{
  width: 40px;
  height: 40px;

}

