:root{
    --orange-color: #C84726;
    --gray-color: #E6E6E6;
}

.containerAboutImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    height: auto;
    margin-top: 90px;
}



.containerAboutImg img{
    width: 200px;
    height: 200px;
    box-shadow: rgba(200, 71, 38, 0.4) 5px 5px, rgba(200, 71, 38, 0.3) 10px 10px, rgba(200, 71, 38, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(200, 71, 38, 0.05) 25px 25px;
    border-radius: 10px;
}



.containerPerfil{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 45px;
    margin-bottom: 30px;
   
    

}

.perfilTitulo{
    color: var(--orange-color);
    text-align: center;

}

.perfilSubTitulo{
    color: var(--gray-color);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.0rem;
}

.containerPerfil p{
    font-size: 15px;
    
}

.containerTarjetaAbout{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
   
}

.tarjetaContacto{
    width: 100%;
    height: 170px;
    background-color: #01E3C6;
    border-radius: 20px;
    box-shadow: 0px 7px #06AE98;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color:#0D283A;
    margin-bottom: 80px;
}

.tarjetaContacto img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.tarjetaContacto h4{
    margin-top: 10px;
}

.tarjetaContacto p{
    margin-left: 15px;
    margin-right: 15px;
}
